.background {
    background: white;
}

.backgroundContent {
    height: 40rpx;
    background: #e7e8e9;
}

.logo-background {
    background-color: white;
    text-align: center;
    margin-top: 80px;
    .logo-1 {
        width: 450px;
        height: 450px;
        display: inline-block;
        overflow: hidden;
    }
}