.text {
    margin-top: 10px;
    text-align: center;
    font-size: 80%;
}

.card {
    margin-top: 10px;
    position: relative;
}

.menu {
    position: absolute;
    left: 88%;
    top: 20px;
}

.time {
    position: absolute;
    left: 63%;
    top: 120px;
    font-size: 65%;
}