.index {
    background-color: #ffffff;
    .swiper {
        height: 380px;
            .swiper-image {
                width: 100%;
                height: 100%;
            }
    }
    .class-list {
        margin-top: 30px;
    }
}