.homeworkItem {
    margin-top: 10px;
    position: relative;

    .homeworkItemMenu {
        position: absolute;
        left: 88%;
        top: 20px;
    }
}

.text {
    margin-top: 10px;
    text-align: center;
    font-size: 80%;
}