.header {
    height: 80px;
}

.bottom {
    margin-top: 300px;
    text-align: center;
}

.code {
    text-align: center;
    background-color: lightgoldenrodyellow;
    font-size: 200%;
    font-weight: 900;
    height: 100px;
}

.description {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 60%;
}

.button {
    margin-top: 30px;
}

// .drop {
//     // margin-left: 50px;
// }

// .stop {
//     // margin-left: 500px;
// }